@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    LST-NET<br />
    Literacka 70<br />
    Tel: 123-456-789
</address>

<address>
    <strong>HelpDesk:</strong>   <a href="">helpdesk@lst.pl</a><br />
    <strong>Marketing:</strong> <a href="">sim@lst.pl</a>
</address>