@{ ViewBag.Title = "Strona główna";}

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <div class="row bg-light text-black-50">
        <div class="col-md-12">
            <h1>Akcje strony w produkcji:</h1>
            <ul>
                <li>
                    @Html.ActionLink("Lista czynności", "Index", "WorkModels")
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="container bg-light text-dark">
        <div class="row">
            <div class="col">
                <div class="jumbotron bg-transparent">
                    <h1>Blitzkrieg App - Prototype</h1>
                    <p class="lead">Strona główna prototypu aplikacji do zarządzania zgłoszeniami, zadaniami i czasem pracy.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Pierwsze kroki</h2>
                <p></p>
                <p><a class="btn btn-default" href="">Więcej &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Przewodnik</h2>
                <p></p>
                <p><a class="btn btn-default" href="">Więcej &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>FAQ</h2>
                <p></p>
                <p><a class="btn btn-default" href="">Więcej &raquo;</a></p>
            </div>
        </div>
    </div>

}


